<div class="main">
  <div class="button-container mt-2 mb-4">
    <button id="toggleButton" (click)="toggleMode()">
      {{ mode() === "read" ? "Read Mode" : "Write Mode" }}
    </button>
  </div>

  <div
    class="editor-wrapper"
    [ngStyle]="{
      '--line-height': LINE_HEIGHT + 'px',
      '--border-width': BORDER_WIDTH + 'px',
      '--editor-height': editorHeight() + 'px',
    }"
  >
    @if (mode() === "write") {
      <div class="paper write-editor">
        <div class="writer-wrapper">
          <div
            class="font-bold text-2xl text-center"
            [style.margin-bottom.px]="LINE_HEIGHT"
          >
            {{ selectedNote().title }}
          </div>

          <div
            #writer
            class="writer"
            contenteditable="true"
            data-placeholder="Start writing your thoughts..."
            [innerText]="selectedNote().content"
            (keydown.tab)="handleTab($event)"
            (blur)="onContentChange(writer.innerText)"
          ></div>
        </div>
      </div>
    } @else {
      <div
        #readEditor
        class="paper read-editor"
        (onResize)="readViewHeight.set(readEditor.clientHeight)"
      >
        <div
          #readWrapper
          class="reader-wrapper"
          [ngStyle]="{ '--read-offset': '-' + readOffset() + 'px' }"
          (onResize)="readTotalHeight.set(readWrapper.scrollHeight)"
        >
          <div
            class="font-bold text-2xl text-center"
            [style.margin-bottom.px]="LINE_HEIGHT"
          >
            {{ selectedNote().title }}
          </div>

          <div class="reader" [innerText]="selectedNote().content"></div>
        </div>
      </div>
    }
  </div>

  @if (mode() === "read") {
    <div class="button-container mt-4">
      <button
        id="prevButton"
        [attr.disabled]="currentPageCapped() === 1 ? 'true' : null"
        (click)="previousPage()"
      >
        <-- Prev
      </button>
      <button
        id="nextButton"
        [attr.disabled]="currentPageCapped() === maxPage() ? 'true' : null"
        (click)="nextPage()"
      >
        Next -->
      </button>
    </div>

    <app-page-indicator
      class="block mt-2"
      [currentPage]="currentPageCapped()"
      [maxPage]="maxPage()"
    />
  }
</div>
