:host {
  background-color: #d7c3a3;
  height: 100vh;
  width: 100%;
  display: flex;

  /* Variables to be overridden from inside html template */
  --editor-height: 0;
  --border-width: 0;
  --line-height: 0;
  --read-offset: 0;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editor-wrapper {
  width: 80%;
  max-width: 800px;
  height: var(--editor-height);
}

.paper {
  height: 100%;
  background-color: #fdf6e3;
  border-width: var(--border-width);
  border-style: solid;
  border-color: #a67c52;
  border-radius: 12px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  padding: 0 20px 0;
  flex-shrink: 0;
  line-height: var(--line-height);
  background-size: 1px 32px;
  background-repeat: repeat;
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 32'%3E%3Crect height='32' width='1' y='0' x='0' fill='%23fdf6e3'/%3E%3Cline y2='32' x2='0' y1='32' x1='1' stroke='%23c8b7a6' stroke-width='1'/%3E%3C/svg%3E");
  font-size: 20px;
  color: #333;
  background-attachment: local;
  white-space: pre-wrap;
}

.write-editor {
  overflow: auto;

  .writer {
    outline: none;
    &:empty:before {
      content: attr(data-placeholder);
      color: #aaa;
    }
  }
}

.read-editor {
  overflow: hidden;

  .reader-wrapper {
    transform: translateY(var(--read-offset));
  }
}

.button-container {
  display: flex;
  gap: 10px;
  align-items: center;

  button {
    padding: 10px 20px;
    background-color: #a67c52;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition:
      background-color 0.3s,
      opacity 0.3s;

    &:disabled {
      background-color: #bfa68a;
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
