<div class="main">
  <div class="button-container">
    <button id="toggleButton">Write Mode</button>
  </div>
  <div id="wrapper">
    <div contenteditable="true" id="paper" data-placeholder="Start writing your thoughts..."></div>
  </div>
  <div id="readWrapper">
    <div id="readPaper"></div>
  </div>
  <div class="button-container">
    <button id="prevButton" style="display: none;"><-- Prev</button>
    <button id="nextButton" style="display: none;">Next --></button>
  </div>
  <div id="pageIndicator">Page 1/1</div>
</div>
